div.asf-viewport
    span.asf-content(ng-transclude)
    span.asf-sb
        .asf-sb-track(ng-hide='hidden')
            .asf-sb-thumb(ng-hide='hidden', ng-class='dragging ? "asf-sb-thumb-active" : ""', ng-style='{ "height":thumbSize + "px", "top": thumbTop + "px", "" : "" }')
