.asf-viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.asf-content {
  display: inline-block;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.asf-sb {
  display: inline-block;
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.asf-sb-track {
  border-radius: 4px;
  opacity: 0.7;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.asf-sb-thumb {
  position: absolute;
  border-radius: 4px;
  background-color: #7f7f7f;
  left: 0;
  right: 0;
  min-height: 20px;
}
.asf-sb-thumb:hover {
  background-color: #727272;
}
.asf-sb-thumb-active {
  background-color: #666 !important;
}
